<div class="banner">
    <div class="content">
        <h1 class="mb-5">A cap on carbon is important because it sets a specific goal for reducing carbon emissions 80% by 2050.</h1>
        <p style="text-decoration: underline; color: white">Frances Beinecke</p>
    </div>
</div>
<div class="container mt-5 mb-5">
    <p style="color: black; font-size: 45px;"> Make it stand out. Join Us in our journey to reduce the carbon footprint</p>
</div>

<div class="container mt-5 mb-5">
    <div class="row mt-12">
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
               <p class="step1">Dream it.</p><br>
               <p class="step2">
                It all begins with an idea to save the earth by reducing the carbon footprint. We would like to build up all kinds of measurements which will help us to calculate the carbon footprint and help in its reduction.
                </p>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
               <p class="step1">Build it.</p><br>
               <p class="step2">
                In Greenwhiz, we are dedicated to build a calculator for measuring carbon footprint in software applications in order to develop sustainable products.
                </p>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
               <p class="step1">Grow it.</p><br>
               <p class="step2">
                We would like to continue our growth by researching on innovative ways to measure carbon footprint in applications spanning different technologies and languages. 
                </p>
            </div>
        </div>
    </div>
</div>