<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid nav-padding">
    <a
      class="navbar-brand"
      routerLink=""
      routerLinkActive="active-link"
      style="font-size: calc(2 * 1rem)"
      >GreenWhiz</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse icon-padding" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="initiatives"
            routerLinkActive="active-link"
            >Initiatives</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="contactus"
            routerLinkActive="active-link"
            >Contact Us</a
          >
        </li>
        <li class="nav-item">
          <a href="#" target="_blank"
            ><i class="bi bi-twitter icon-color nav-link"></i
          ></a>
        </li>
        <li class="nav-item">
          <a href="#" target="_blank"
            ><i class="bi bi-linkedin icon-color nav-link"></i
          ></a>
        </li>
        <li class="nav-item">
          <a href="#" target="_blank"
            ><i class="bi bi-facebook icon-color nav-link"></i
          ></a>
        </li>
        <li class="nav-item">
          <button
            class="nav-link"
            routerLink="calculator"
            routerLinkActive="active-link"
            style="color: black"
          >
            Calculator
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
