<div class="container row mt-5" style="padding: 60px 92px 0px 175px;">
    <div class="col-lg-6 mt-2">
        <h1>Contact Us</h1><br>
        <p>A better future is possible. Contact us to learn more about our mission and work, or to become involved yourself.</p>
    </div>
    <div class="col-lg-6 mt-2">
        <form [formGroup]="contactUsForm">
            <div class="row">
                <div class="col-lg-6 mt-2 mb-2">
                    <input type="text" formControlName="firstName" class="form-control" placeholder="Enter First Name">
                </div>
                <div class="col-lg-6 mt-2 mb-2">
                    <input type="text" formControlName="lastName" class="form-control" placeholder="Enter Last Name" >
                </div>
                <div class="col-lg-12 mt-2 mb-2">
                    <input type="text" formControlName="email" class="form-control" placeholder="Enter Email ID" >
                    <small *ngIf="email.errors" class="text-danger">Email addresses should follow the format user@domain.com.</small><br>
                </div>
                <div class="col-lg-12 mt-2 mb-2">
                    <textarea formControlName="message" class="form-control" placeholder="Enter Message"></textarea>
                </div>
                <div class="col-lg-12">
                    <button class="btn btn-md btn-dark" [disabled]="!contactUsForm.valid" (click)="contactUs()">Submit</button>
                </div>       
            </div>
        </form>
    </div>
</div>