<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>GREENWHIZ</h1><br>
            <p>Contact us:</p>
            <p> <a href="mailto:greenwhiz@gmail.com">greenwhiz@gmail.com</a></p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <p>Our Work</p><br>
            <a routerLink="about">About</a><br>
            <a routerLink="initiatives">Initiatives</a><br>
            <a routerLink="take-action">Take Action</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3">
            <p>Follow</p><br>
            <a href="#" target="_blank">Twitter</a><br>
            <a href="#" target="_blank">LinkedIn</a><br>
            <a href="#" target="_blank">Facebook</a>
        </div>
    </div>
</div>