<div class="container mt-5 mb-5">
    <p style="color: black; font-size: 45px; text-align: center;"> Current Initiatives</p>
</div>
<div class="container row mt-5" style="padding: 0px 0px 0px 180px;">
    <div class="col-lg-6 mt-2">
        <div class="container">
            <div class="mountain col-lg-12 mt-2"></div>
            <div class="col-lg-12 mt-2">
                <div class="stepBox">
                    <p class="step1">Sustainable Communities</p><br>
                    <p class="step2" style="text-align: center;;">Encouraging needs to be met locally.</p><br>
                    <p class="step2">
                        Be a part of the Sustainable Community in India and work together to reduce the Carbon FootPrint
                        and save our Earth.<br><br>
                        The main goal would be to reduce the Carbon FootPrint in our daily actions, in industries and in
                        software applications.<br><br>
                        We would like to further extend our community and interact with all other similar ones and work
                        towards the same goal, so that we can make this into a global action.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mt-2">
        <div class="container">
            <div class="landscape col-lg-12 mt-2"></div>
            <div class="col-lg-12 mt-2">
                <div class="stepBox">
                    <p class="step1">Carbon Zero</p><br>
                    <p class="step2" style="text-align: center;">Achieving a net zero carbon footprint.</p><br>
                    <p class="step2">
                        What is Carbon Zero? How Can this be achieved?<br><br>
                        Carbon and other green house gases are released into air and act as a blanket, holding the heat
                        in our atmosphere and warming the planet.<br><br>
                        Carbon Zero just means the amount of anthropogenic emissions added and removal from the
                        atmosphere are the same. So in this way we will reach an equilibrium, when the amount of carbon
                        emissions we add is no more than the amount taken away. In this way, we can avoid global warming
                        due to green house gases.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="color: black; font-size: 45px; text-align: center;" class="container mt-5 mb-5">
    <a  style="color: black;" routerLink="take-action">Take Action</a>
</div>